body{
    background: #f7f7f7;
}
.judul{
    background: #498079;
    padding-top: 30px;
    padding-left: 480px;
    padding-bottom: 30px;
    }
.judul h1{
    color: #f7f7f7;
    font-family: 'Poppins', sans-serif;
    }
.row{
    margin: 0px;}
label{
    font-size: 0px;}
.status{
    padding-top: 30px;
    padding-left: 400px;}
input{
    padding-right: 300px;}
#submit{
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Poppins', sans-serif;
    }
.btn{
    margin-left: 125px;
    }
.posted-status{
     height: 300px;
     width: 500px;
     background: #f7f7f7;
     font-family: 'Roboto', sans-serif;
     font-size: 18px;
     overflow-y: scroll;
     margin-left: 400px;
     margin-top: 40px;
     margin-bottom: 50px;
     }