<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apa kabar?</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="{% static 'story6.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet">



</head>
<body>

<div class="judul">
    <div class="row">
        <h1> Halo, apa kabar?</h1>
    </div>
</div>


<div class="status">
    <div class="row">

    </div>
    <form method = "POST" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input id="submit" type="submit" class="btn btn-success" value="Send">
        <br>


    </form>
</div>

<div class="posted-status">
    {% for status in all_status %}
        <p>{{ status.created_at }} &nbsp; || &nbsp; &nbsp;{{ status.message }} </p>
     {% endfor %}
</div>
</body>